.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    color: #f4f4f066;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: transparent;
    border-radius: 12px;
    margin-bottom: 0.5em;
}
button {
    background-color: transparent;
    color: #f4f4f0f6;
    cursor: pointer;
    border: none;
    
    
}

.delete-btn {
    display: none;
    padding: 0.2em;
    margin: 0.2em;
    
}

.task-item:hover .delete-btn {
    display: inline-block;

}

.task-item:focus-within button {
   color: #a5a511f6;
}

